threadUTau/threadUTau/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="changePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="currentPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="changePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable_sp">
        <s:complexType />
      </s:element>
      <s:element name="insertTable_spResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertTable_spResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable_ev">
        <s:complexType />
      </s:element>
      <s:element name="insertTable_evResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertTable_evResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable_tr">
        <s:complexType />
      </s:element>
      <s:element name="insertTable_trResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertTable_trResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable_un">
        <s:complexType />
      </s:element>
      <s:element name="insertTable_unResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertTable_unResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable_sp_comm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable_sp_commResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertTable_sp_commResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable_ev_comm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable_ev_commResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertTable_ev_commResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable_tr_comm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable_tr_commResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertTable_tr_commResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable_un_comm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable_un_commResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertTable_un_commResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrentThread" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="post" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="postMessageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrentThread" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username_table" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username_label" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteMessageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrentThread" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="comm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="postCommentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrentThread" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username_table" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username_label" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteCommentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPassMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPassMailResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="changePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:changePassword" />
  </wsdl:message>
  <wsdl:message name="changePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="insertTable_spSoapIn">
    <wsdl:part name="parameters" element="tns:insertTable_sp" />
  </wsdl:message>
  <wsdl:message name="insertTable_spSoapOut">
    <wsdl:part name="parameters" element="tns:insertTable_spResponse" />
  </wsdl:message>
  <wsdl:message name="insertTable_evSoapIn">
    <wsdl:part name="parameters" element="tns:insertTable_ev" />
  </wsdl:message>
  <wsdl:message name="insertTable_evSoapOut">
    <wsdl:part name="parameters" element="tns:insertTable_evResponse" />
  </wsdl:message>
  <wsdl:message name="insertTable_trSoapIn">
    <wsdl:part name="parameters" element="tns:insertTable_tr" />
  </wsdl:message>
  <wsdl:message name="insertTable_trSoapOut">
    <wsdl:part name="parameters" element="tns:insertTable_trResponse" />
  </wsdl:message>
  <wsdl:message name="insertTable_unSoapIn">
    <wsdl:part name="parameters" element="tns:insertTable_un" />
  </wsdl:message>
  <wsdl:message name="insertTable_unSoapOut">
    <wsdl:part name="parameters" element="tns:insertTable_unResponse" />
  </wsdl:message>
  <wsdl:message name="insertTable_sp_commSoapIn">
    <wsdl:part name="parameters" element="tns:insertTable_sp_comm" />
  </wsdl:message>
  <wsdl:message name="insertTable_sp_commSoapOut">
    <wsdl:part name="parameters" element="tns:insertTable_sp_commResponse" />
  </wsdl:message>
  <wsdl:message name="insertTable_ev_commSoapIn">
    <wsdl:part name="parameters" element="tns:insertTable_ev_comm" />
  </wsdl:message>
  <wsdl:message name="insertTable_ev_commSoapOut">
    <wsdl:part name="parameters" element="tns:insertTable_ev_commResponse" />
  </wsdl:message>
  <wsdl:message name="insertTable_tr_commSoapIn">
    <wsdl:part name="parameters" element="tns:insertTable_tr_comm" />
  </wsdl:message>
  <wsdl:message name="insertTable_tr_commSoapOut">
    <wsdl:part name="parameters" element="tns:insertTable_tr_commResponse" />
  </wsdl:message>
  <wsdl:message name="insertTable_un_commSoapIn">
    <wsdl:part name="parameters" element="tns:insertTable_un_comm" />
  </wsdl:message>
  <wsdl:message name="insertTable_un_commSoapOut">
    <wsdl:part name="parameters" element="tns:insertTable_un_commResponse" />
  </wsdl:message>
  <wsdl:message name="registerSoapIn">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="registerSoapOut">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="postMessageSoapIn">
    <wsdl:part name="parameters" element="tns:postMessage" />
  </wsdl:message>
  <wsdl:message name="postMessageSoapOut">
    <wsdl:part name="parameters" element="tns:postMessageResponse" />
  </wsdl:message>
  <wsdl:message name="deleteMessageSoapIn">
    <wsdl:part name="parameters" element="tns:deleteMessage" />
  </wsdl:message>
  <wsdl:message name="deleteMessageSoapOut">
    <wsdl:part name="parameters" element="tns:deleteMessageResponse" />
  </wsdl:message>
  <wsdl:message name="postCommentSoapIn">
    <wsdl:part name="parameters" element="tns:postComment" />
  </wsdl:message>
  <wsdl:message name="postCommentSoapOut">
    <wsdl:part name="parameters" element="tns:postCommentResponse" />
  </wsdl:message>
  <wsdl:message name="deleteCommentSoapIn">
    <wsdl:part name="parameters" element="tns:deleteComment" />
  </wsdl:message>
  <wsdl:message name="deleteCommentSoapOut">
    <wsdl:part name="parameters" element="tns:deleteCommentResponse" />
  </wsdl:message>
  <wsdl:message name="SendPassMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendPassMail" />
  </wsdl:message>
  <wsdl:message name="SendPassMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendPassMailResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePasswordSoapIn" />
      <wsdl:output message="tns:changePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTable_sp">
      <wsdl:input message="tns:insertTable_spSoapIn" />
      <wsdl:output message="tns:insertTable_spSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTable_ev">
      <wsdl:input message="tns:insertTable_evSoapIn" />
      <wsdl:output message="tns:insertTable_evSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTable_tr">
      <wsdl:input message="tns:insertTable_trSoapIn" />
      <wsdl:output message="tns:insertTable_trSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTable_un">
      <wsdl:input message="tns:insertTable_unSoapIn" />
      <wsdl:output message="tns:insertTable_unSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTable_sp_comm">
      <wsdl:input message="tns:insertTable_sp_commSoapIn" />
      <wsdl:output message="tns:insertTable_sp_commSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTable_ev_comm">
      <wsdl:input message="tns:insertTable_ev_commSoapIn" />
      <wsdl:output message="tns:insertTable_ev_commSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTable_tr_comm">
      <wsdl:input message="tns:insertTable_tr_commSoapIn" />
      <wsdl:output message="tns:insertTable_tr_commSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTable_un_comm">
      <wsdl:input message="tns:insertTable_un_commSoapIn" />
      <wsdl:output message="tns:insertTable_un_commSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input message="tns:registerSoapIn" />
      <wsdl:output message="tns:registerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postMessage">
      <wsdl:input message="tns:postMessageSoapIn" />
      <wsdl:output message="tns:postMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteMessage">
      <wsdl:input message="tns:deleteMessageSoapIn" />
      <wsdl:output message="tns:deleteMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postComment">
      <wsdl:input message="tns:postCommentSoapIn" />
      <wsdl:output message="tns:postCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <wsdl:input message="tns:deleteCommentSoapIn" />
      <wsdl:output message="tns:deleteCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPassMail">
      <wsdl:input message="tns:SendPassMailSoapIn" />
      <wsdl:output message="tns:SendPassMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="http://tempuri.org/changePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_sp">
      <soap:operation soapAction="http://tempuri.org/insertTable_sp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_ev">
      <soap:operation soapAction="http://tempuri.org/insertTable_ev" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_tr">
      <soap:operation soapAction="http://tempuri.org/insertTable_tr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_un">
      <soap:operation soapAction="http://tempuri.org/insertTable_un" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_sp_comm">
      <soap:operation soapAction="http://tempuri.org/insertTable_sp_comm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_ev_comm">
      <soap:operation soapAction="http://tempuri.org/insertTable_ev_comm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_tr_comm">
      <soap:operation soapAction="http://tempuri.org/insertTable_tr_comm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_un_comm">
      <soap:operation soapAction="http://tempuri.org/insertTable_un_comm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postMessage">
      <soap:operation soapAction="http://tempuri.org/postMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMessage">
      <soap:operation soapAction="http://tempuri.org/deleteMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postComment">
      <soap:operation soapAction="http://tempuri.org/postComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <soap:operation soapAction="http://tempuri.org/deleteComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPassMail">
      <soap:operation soapAction="http://tempuri.org/SendPassMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="changePassword">
      <soap12:operation soapAction="http://tempuri.org/changePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_sp">
      <soap12:operation soapAction="http://tempuri.org/insertTable_sp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_ev">
      <soap12:operation soapAction="http://tempuri.org/insertTable_ev" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_tr">
      <soap12:operation soapAction="http://tempuri.org/insertTable_tr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_un">
      <soap12:operation soapAction="http://tempuri.org/insertTable_un" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_sp_comm">
      <soap12:operation soapAction="http://tempuri.org/insertTable_sp_comm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_ev_comm">
      <soap12:operation soapAction="http://tempuri.org/insertTable_ev_comm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_tr_comm">
      <soap12:operation soapAction="http://tempuri.org/insertTable_tr_comm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable_un_comm">
      <soap12:operation soapAction="http://tempuri.org/insertTable_un_comm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap12:operation soapAction="http://tempuri.org/register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postMessage">
      <soap12:operation soapAction="http://tempuri.org/postMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMessage">
      <soap12:operation soapAction="http://tempuri.org/deleteMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postComment">
      <soap12:operation soapAction="http://tempuri.org/postComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <soap12:operation soapAction="http://tempuri.org/deleteComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPassMail">
      <soap12:operation soapAction="http://tempuri.org/SendPassMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44323/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44323/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>